*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #329f5b;
}
.restaurantTitle{
    /* background-color: #7a89c2; */
    text-align: center;
    color: #fff;
}
.buttonform{
    color: #fff !important;
    /* background-color: #ffaf87 !important; */
    background-color: #2d3047 !important;
    margin-right: 20px;
    opacity: 0.9;
}
.buttonform:hover, .addnew:hover{
    opacity: 1;
}
.addnew{
    opacity: 0.9;
    color: #2d3047;
}
.icon{
    color: #2d3047;
}